.main {
  @include widthAndHeightParams(100%, 100%);
  display: grid;
  grid-template-columns: 0 minmax(5%, 15%) minmax(15%, 25%) minmax(35%, 1fr) 0;
  grid-template-rows: minmax(15%, 25%) 1fr 5%;
  gap: $gapValue;
  grid-template-areas:
    "titles titles titles titles titles"
    ". select info chart ." "footer footer footer footer footer";

  &__header {
    grid-area: titles;
    background-color: $darkBrown;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-areas: "title" "subtitle";

    &--title {
      @include headersParams(
        title,
        $largeFontSize,
        $letterSpacing,
        lighter,
        $light,
        center start,
        $gapValue
      );
    }

    &--subtitle {
      @include headersParams(
        subtitle,
        $bigFontSize,
        $letterSpacing,
        lighter,
        $light,
        center start,
        $gapValue
      );
    }
  }

  &__select {
    @include areaParams(select, $light, space-around, center, column);
    box-shadow: $boxShadowValues;

    &--info {
      @include fontParams($mediumFontSize, $letterSpacing, bold, $darkBrown);
      margin: $distanceValue;
      text-transform: uppercase;
    }

    &--container {
      @include widthAndHeightParams(50%, 5%);
      margin: $distanceValue;
      @include flexPosition(start, center, row);
      @include fontParams($smallFontSize, $letterSpacing, lighter, $darkBrown);

      & input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        @include widthAndHeightParams(1em, 1em);
        border: 1px solid $darkBrown;
        background-color: transparent;
        cursor: pointer;
      }

      & input[type="checkbox"]::before {
        content: "✔";
        position: absolute;
        top: -0.3em;
        visibility: hidden;
        color: $light;
      }

      & input[type="checkbox"]:checked::before {
        visibility: visible;
      }

      & input[type="checkbox"]:checked {
        background-color: $darkBrown;
        box-shadow: 0px 0px 2px 2px $darkBrown;
      }

      & input[type="checkbox"] + label {
        color: $lightBrown;
      }

      & input[type="checkbox"]:checked + label {
        color: $richBlack;
        font-weight: bold;
      }

      & input[type="checkbox"]:focus {
        outline: none;
      }

      & label {
        padding-left: $distanceValue;
        color: $darkBrown;
        cursor: pointer;
      }
    }
  }

  &__info {
    @include areaParams(info, $lightBrown, space-between, start, column);

    &--labels,
    &--clear {
      @include widthAndHeightParams(90%, 10%);
      background-color: $light;
      border: none;
      box-shadow: $boxShadowValues;
      font-family: $mainFontFamily;
      @include fontParams($mediumFontSize, $letterSpacing, bold, $darkBrown);
      text-transform: uppercase;
      cursor: pointer;
    }

    &--labels:focus,
    &--clear:focus {
      outline: none;
    }

    &--labels.active,
    &--clear.active {
      animation: buttonsAnimation 0.2s;
    }

    &--names {
      @include widthAndHeightParams(90%, 70%);
      background-color: $light;
      box-shadow: $boxShadowValues;
      overflow-y: scroll;
    }
  }

  &__graph {
    @include areaParams(chart, $light, center, center, row);
    box-shadow: $boxShadowValues;
  }

  &__footer {
    @include areaParams(footer, $darkBrown, center, center, row);

    &--info {
      @include fontParams($smallFontSize, $letterSpacing, lighter, $light);
      text-transform: uppercase;
    }
  }
}

.tip {
  padding: 1vw;
  color: $light;
  background-color: $richBlack;
  letter-spacing: $letterSpacing;
  opacity: 1;
}

@keyframes buttonsAnimation {
  0% {
    box-shadow: $boxShadowValues;
  }

  50% {
    box-shadow: $boxShadowAnimatedValues;
  }

  100% {
    box-shadow: $boxShadowValues;
  }
}
