.main {
  @include widthAndHeightParams(100%, 100%);
  display: grid;
  grid-template-columns: 0 15% 25% 1fr 0;
  grid-template-rows: 25% 1fr 5%;
  gap: 2%;
  grid-template-areas:
    "titles titles titles titles titles"
    ". select info chart ." "footer footer footer footer footer";

  &__header {
    grid-area: titles;
    background-color: $firstDarkBrownColor;
    display: grid;
    grid-template-rows: 60% 40%;
    grid-template-areas: "title" "subtitle";

    &--title {
      grid-area: title;
      @include fontParams(
        $largeFontSize,
        $letterSpacing,
        lighter,
        $firstLightColor
      );
      place-self: center start;
      padding-left: 2%;
    }

    &--subtitle {
      grid-area: subtitle;
      background-color: $lightBrownColor;
      @include fontParams(
        $bigFontSize,
        $letterSpacing,
        lighter,
        $firstDarkBrownColor
      );
      @include widthAndHeightParams(100%, 100%);
      line-height: $bigFontSize;
      padding-left: 2%;
    }
  }

  &__select {
    grid-area: select;
    background-color: $firstLightColor;
    @include flexPosition(space-around, center, column);
    box-shadow: -2px 2px 5px 2px $firstDarkBrownColor;

    &--info {
      @include fontParams(
        $mediumFontSize,
        $letterSpacing,
        bold,
        $firstDarkBrownColor
      );
      margin: $distanceValue;
      text-transform: uppercase;
    }

    &--container {
      @include widthAndHeightParams(50%, 5%);
      margin: $distanceValue;
      @include flexPosition(start, center, row);
      @include fontParams(
        $smallFontSize,
        $letterSpacing,
        lighter,
        $firstDarkBrownColor
      );

      & input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        position: relative;
        @include widthAndHeightParams(1em, 1em);
        background-color: $firstDarkBrownColor;
        // box-shadow: -1px 1px 3px 1px $firstDarkBrownColor;
        cursor: pointer;
      }

      & input[type="checkbox"]::before {
        content: "✔";
        position: absolute;
        font-size: $smallFontSize;
        top: -0.3em;
        visibility: hidden;
        color: $firstLightColor;
      }

      & input[type="checkbox"]:checked::before {
        visibility: visible;
      }

      & input[type="checkbox"]:focus {
        outline: none;
      }

      & label {
        padding-left: $distanceValue;
        color: $firstDarkBrownColor;
        cursor: pointer;
      }
    }
  }

  &__info {
    grid-area: info;
    background-color: $lightBrownColor;
    @include flexPosition(space-between, start, column);
    // box-shadow: -2px 2px 5px 2px $firstDarkBrownColor;

    &--labels,
    &--clear {
      border: none;
      background-color: $firstLightColor;
      @include widthAndHeightParams(90%, 10%);
      box-shadow: -2px 2px 5px 2px $firstDarkBrownColor;
      font-family: $mainFontFamily;
      text-transform: uppercase;
      @include fontParams(
        $smallFontSize,
        $letterSpacing,
        bold,
        $firstDarkBrownColor
      );
      cursor: pointer;
    }

    &--labels:focus,
    &--clear:focus {
      outline: none;
    }

    &--names {
      @include widthAndHeightParams(90%, 70%);
      background-color: $firstLightColor;
      box-shadow: -2px 2px 5px 2px $firstDarkBrownColor;
      overflow-y: scroll;
    }
  }

  &__graph {
    grid-area: chart;
    background-color: $firstLightColor;
    @include flexPosition(center, center, row);
    box-shadow: -2px 2px 5px 2px $firstDarkBrownColor;
  }

  &__footer {
    grid-area: footer;
    background-color: $firstDarkBrownColor;
    @include flexPosition(center, center, row);

    &--info {
      @include fontParams(
        $smallFontSize,
        $letterSpacing,
        lighter,
        $firstLightColor
      );
      text-transform: uppercase;
    }
  }
}
