@mixin flexPosition($horizontalValue, $verticalValue, $flexDirection) {
  display: flex;
  justify-content: $horizontalValue;
  align-items: $verticalValue;
  flex-direction: $flexDirection;
}

@mixin widthAndHeightParams($widthValue, $heightValue) {
  width: $widthValue;
  height: $heightValue;
}

@mixin fontParams(
  $fontSizeValue,
  $letterSpacingValue,
  $fontWeightValue,
  $colorValue
) {
  font-size: $fontSizeValue;
  letter-spacing: $letterSpacingValue;
  font-weight: $fontWeightValue;
  color: $colorValue;
}

@mixin headersParams(
  $gridArea,
  $fontSizeValue,
  $letterSpacingValue,
  $fontWeightValue,
  $colorValue,
  $placeSelf,
  $paddingValue
) {
  grid-area: $gridArea;
  @include fontParams(
    $fontSizeValue,
    $letterSpacingValue,
    $fontWeightValue,
    $colorValue
  );
  place-self: $placeSelf;
  padding: $paddingValue;
}

@mixin areaParams(
  $gridArea,
  $bcgColorValue,
  $horizontalValue,
  $verticalValue,
  $flexDirection
) {
  grid-area: $gridArea;
  background-color: $bcgColorValue;
  @include flexPosition($horizontalValue, $verticalValue, $flexDirection);
}
