// fontsParams
$mainFontFamily: "Antonio-Light";
$largeFontSize: 3em;
$bigFontSize: 2em;
$mediumFontSize: 1.2em;
$smallFontSize: 1em;
$letterSpacing: 0.1em;

// margin and paddings
$distanceValue: 0.5em;

// colors
$lightBrownColor: #b0a18f;
$firstDarkBrownColor: #333334;
$secondDarkBrownColor: #2f2f30;
$firstLightColor: #f3f0ec;
$secondLightColor: #e7e2dc;
