// fontsParams
$mainFontFamily: "Antonio-Light";
$largeFontSize: 4vw;
$bigFontSize: 3vw;
$mediumFontSize: 1.5vw;
$smallFontSize: 1vw;
$letterSpacing: 0.1em;

// margin and paddings
$distanceValue: 0.5em;
$gapValue: 2%;

// colors
$richBlack: #02111b;
$darkBrown: #333334;
$lightBrown: #b0a18f;
$light: #f3f0ec;
$boxShadowValues: -2px 2px 5px 2px $darkBrown;
$boxShadowAnimatedValues: 0px 0px 0px 1px $darkBrown;
